<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- w3schools CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Page </title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Maximum Weight Cycle Packing</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                    </div>
                    <!-- Navbar Right Side -->
                </div>
            </div>
        </nav>

    </header>
    <h1>{{ algo }}</h1>
{#    <h1 {{ url }} ></h1>#}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <iframe width="100%" height="60%" src="https://docs.google.com/spreadsheets/d/1TkMFytSMkXmwEpSbTi85h5wYH6rdiJN64ZYo4ld2Iks" ></iframe>
    <p>Please Enter K- max number of nodes in a cycle (Currently supports k<=3):</p>
    <form method="GET" action="/Run/" algo={{ algo }} url={{ url }}>
    <label>
            <input name="k" size="100"/>
        <input type="hidden" name="url" value="{{ url }}">
        <input type="hidden" name="algo" value="{{ algo }}">
        </label>
    <input type="submit" value="Run Algorithm">
        </form>
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
</body>